In [5]:
!pip install findspark

Collecting findspark
  Using cached findspark-1.4.2-py2.py3-none-any.whl (4.2 kB)
Installing collected packages: findspark
Successfully installed findspark-1.4.2

In [ ]:
import sys
import os
os.environ['SPARK_HOME'] = "C:\spark\spark-3.1.1-bin-hadoop2.7"
os.environ['HADOOP_HOME'] = "C:\spark\spark-3.1.1-bin-hadoop2.7"
sys.path.append("C:\spark\spark-3.1.1-bin-hadoop2.7\python")
sys.path.append("C:\spark\spark-3.1.1-bin-hadoop2.7\python\lib")

In [9]:
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\spark\\spark-3.1.1-bin-hadoop2.7'

In [10]:
from pyspark.sql import SparkSession

In [12]:
spark = SparkSession.builder.appName('Starting_Pyspark').getOrCreate()

In [13]:
spark

In [20]:
df_spark = spark.read.option('header','true').csv('C:\\Users\\Convergytics\\OneDrive - Convergytics Solutions Private Limited\\Desktop\\abc.csv')

In [21]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [22]:
df_spark.head(1)

[Row(Name='Kamakshi', Gender='Male', Age='31')]

In [23]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)

Datatype of Age is string

In [28]:
# Other way of reading csv
df_spark = spark.read.csv('C:\\Users\\Convergytics\\OneDrive - Convergytics Solutions Private Limited\\Desktop\\abc.csv',header=True,inferSchema=True)

In [29]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)

In [36]:
df_spark.show()

+--------+------+---+
|    Name|Gender|Age|
+--------+------+---+
|Kamakshi|  Male| 31|
|  Deepak|  Male| 28|
|    Puja|Female| 30|
+--------+------+---+

In [35]:
df_spark.collect()

[Row(Name='Kamakshi', Gender='Male', Age=31),
 Row(Name='Deepak', Gender='Male', Age=28),
 Row(Name='Puja', Gender='Female', Age=30)]

In [40]:
df_spark.dtypes

[('Name', 'string'), ('Gender', 'string'), ('Age', 'int')]

In [42]:
df_spark.describe().show()

+-------+------+------+------------------+
|summary|  Name|Gender|               Age|
+-------+------+------+------------------+
|  count|     3|     3|                 3|
|   mean|  null|  null|29.666666666666668|
| stddev|  null|  null|1.5275252316519468|
|    min|Deepak|Female|                28|
|    max|  Puja|  Male|                31|
+-------+------+------+------------------+

In [37]:
df_spark.select('Name').show()

+--------+
|    Name|
+--------+
|Kamakshi|
|  Deepak|
|    Puja|
+--------+

In [38]:
df_spark.select(['Name','Age']).show()

+--------+---+
|    Name|Age|
+--------+---+
|Kamakshi| 31|
|  Deepak| 28|
|    Puja| 30|
+--------+---+

In [44]:
## Adding columns
df_spark.withColumn('Age_after_2yrs',df_spark['Age'] + 2).show()

+--------+------+---+--------------+
|    Name|Gender|Age|Age_after_2yrs|
+--------+------+---+--------------+
|Kamakshi|  Male| 31|            33|
|  Deepak|  Male| 28|            30|
|    Puja|Female| 30|            32|
+--------+------+---+--------------+

In [46]:
## Drop column
df_spark = df_spark.drop('Age_after_2yrs')
df_spark.show()

+--------+------+---+
|    Name|Gender|Age|
+--------+------+---+
|Kamakshi|  Male| 31|
|  Deepak|  Male| 28|
|    Puja|Female| 30|
+--------+------+---+

In [47]:
## Rename column
df_spark = df_spark.withColumnRenamed('Gender','Sex')
df_spark.show()

+--------+------+---+
|    Name|   Sex|Age|
+--------+------+---+
|Kamakshi|  Male| 31|
|  Deepak|  Male| 28|
|    Puja|Female| 30|
+--------+------+---+

In [30]:
import pandas as pd
df_pandas = pd.read_csv('C:\\Users\\Convergytics\\OneDrive - Convergytics Solutions Private Limited\\Desktop\\abc.csv')

In [31]:
df_pandas

       Name  Gender  Age
0  Kamakshi    Male   31
1    Deepak    Male   28
2      Puja  Female   30

In [32]:
type(df_pandas)

pandas.core.frame.DataFrame

In [34]:
df_pandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Gender  3 non-null      object
 2   Age     3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes